# 忽略特定文件
GithubApiConstant.java

# 忽略目录
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# 忽略 IDE 配置
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# 忽略配置文件
application-secret.yml
et --hard 6bcef91cbd94b5803e34a8bc7d724e938fae13e9
devgauge-backend-master1-0.0.1-SNAPSHOT.jar
AITest
CookieDistribution
CookieDistribution1
CookieDistributionWithTwo1
Solution
SteelRodCutting
SteelRodCuttingWelding
