<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljh.mapper.DeveloperMapper">


    <insert id="save">
        INSERT INTO developer (
            id, project_url, hour_frequency, code, login, name, email, number,
            total_additions, total_deletions, avatar_url, blog_url, profile_url, bio,
            nation, nation_confidence, field, talent_rank, created_at, updated_at
        )
        VALUES (#{id},#{projectUrl},#{hourFrequency},#{code},#{login},#{name},#{email},#{number},#{totalAdditions},
                #{totalDeletions},#{avatarUrl},#{blogUrl},#{profileUrl},#{bio},#{nation},#{nationConfidence},#{field},
                #{talentRank},#{createdAt},#{updatedAt});

    </insert>
    <update id="update">
        UPDATE developer
        SET
            project_url = #{projectUrl},
            hour_frequency = #{hourFrequency},
            code = #{code},
            login = #{login},
            name = #{name},
            email = #{email},
            number = #{number},
            total_additions = #{totalAdditions},
            total_deletions = #{totalDeletions},
            avatar_url = #{avatarUrl},
            blog_url = #{blogUrl},
            profile_url = #{profileUrl},
            bio = #{bio},
            nation = #{nation},
            nation_confidence = #{nationConfidence},
            field = #{field},
            talent_rank = #{talentRank},
            created_at = #{createdAt},
            updated_at = #{updatedAt},
            language_usage = #{languageUsage}  -- 假设 `languageUsage` 是一个 JSON 字符串
        WHERE id = #{id};
    </update>

    <select id="findById" resultType="com.ljh.pojo.entity.Developer">
        SELECT * FROM developer WHERE id = #{id}
    </select>
</mapper>
