<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.mapper.UserMapper">

    <insert id="save" parameterType="com.ljh.pojo.entity.User">
        INSERT INTO users (id, login, avatar_url, html_url, created_at, updated_at, name, company, location, email, bio)
        VALUES (#{id},#{login},#{avatarUrl},#{htmlUrl},#{createdAt},#{updatedAt},#{name},#{company},#{location},#{email},#{bio});
    </insert>

    <update id="updateUser" parameterType="com.ljh.pojo.entity.User">
        UPDATE users
        SET
            login = #{login},
            avatar_url = #{avatarUrl},
            html_url = #{htmlUrl},
            name = #{name},
            company = #{company},
            location = #{location},
            email = #{email},
            bio = #{bio},
            updated_at = #{updatedAt}
        WHERE id = #{id};
    </update>


    <select id="findById" resultType="com.ljh.pojo.entity.User">
        SELECT * FROM users WHERE id = #{id}
    </select>


</mapper>
